{% extends 'IhkBaseBundle::base.html.twig' %}

{% block title %}
	{#{{ entity.company }} is looking for a {{ entity.position }}#}dishes in this kitchen
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{#<link rel="stylesheet" href="{{ asset('bundles/ibwjobeet/css/job.css') }}" type="text/css" media="all" />#}
{% endblock %}

{% block leftarea %}
	<script type="application/javascript">
		$(document).ready(function(){

			$('.dishes-vertical').hover(function(){
						$(this).addClass('mousehover');
					},function(){
						$(this).removeClass('mousehover');
					}
			);
		});
	</script>
	{% for tag in tags %}
	<div class="tags-vertical">
		{{ tag.name }}
	</div>
	{% endfor %}
{% endblock %}

{% block rightarea %}
<div class="side">

</div>
{% endblock %}
