{% extends 'IhkBaseBundle::base.html.twig' %}

{% block title %}
	dish show - IHomeKitchen
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{#<link rel="stylesheet" href="{{ asset('bundles/ibwjobeet/css/job.css') }}" type="text/css" media="all" />#}
{% endblock %}


{% block leftarea %}
    <h1>Dish</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ entity.photo }}
					{#<img class="img-responsive" src="{{ asset(entity.photo) }}">#}
					{#<img class="img-circle" src="{{ asset(entity.photo) }}">#}
					<img class="img-thumbnail" src="{{ asset(entity.photo) }}">
					{#<img class="img-rounded" src="{{ asset(entity.photo) }}">#}
				</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{ entity.score }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Kitchenid</th>
                <td>{{ entity.kitchenId }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('dish') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('dish_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}

{% block rightarea %}
	{{ kitchen.name }}
	{% for rule in rules %}
		<span class="">{{ rule.price }}</span>
		<span class="">{{ rule.dayInWeek }}</span>
		{#<ul class="nav nav-sidebar">#}
			{#<li>#}
				{#<a class="" href="{{ path('tag_show_dishes', { 'id': tag.id }) }}">#}
					{#<span class="">{{ tag.name }}</span>#}
				{#</a>#}
			{#</li>#}
		{#</ul>#}
	{% endfor %}
{% endblock %}
