{% extends 'IhkBaseBundle::layout.html.twig' %}

{% block title %}
	{#{{ entity.company }} is looking for a {{ entity.position }}#}all the kitchen
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{#<link rel="stylesheet" href="{{ asset('bundles/ibwjobeet/css/job.css') }}" type="text/css" media="all" />#}
{% endblock %}

{% block leftarea %}
	<div id="kitchen">
		<table class="kitchens">
			{% for kitchen in kitchens %}
				<tr class="{{ cycle(['even', 'odd'], loop.index) }}">
					<td>{{ kitchen.name }}</td>
					<td>
						{#<a href="{{ path('ihk_base_kitchen.get', { 'id': dish.id }) }}">#}
							{#{{ kitchen.description }}#}
						{#</a>#}
						<div class="count">
							{{ pagination.getTotalItemCount }}
						</div>
						<table>
							{#<tr>#}
							{#&#123;&#35; sorting of properties based on query components &#35;&#125;#}
							{#<th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>#}
							{#<th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}</th>#}
							{#</tr>#}

							{# table body #}
							{% for dish in pagination %}
								<tr {% if loop.index is odd %}class="color"{% endif %}>
									<td>{{ dish.id }}</td>
									<td>{{ dish.name }}</td>
									<td>
										{#<a href="{{ path('ihk_base_dish.get', { 'id': dish.id }) }}">#}
											{{ dish.description }}
										{#</a>#}
									</td>
								</tr>
								{#<tr class="{{ cycle(['even', 'odd'], loop.index) }}">#}
								{#<td>{{ hotKitchen.name }}</td>#}
								{##}
								{#<td>{{ hotKitchen.score }}</td>#}

								{#</tr>#}
							{% endfor %}
						</table>
						{# display navigation #}
						<div class="navigation">
							{{ knp_pagination_render(pagination) }}
						</div>
					</td>
					<td>{{ kitchen.score }}</td>

				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}

{% block rightarea %}
	<h2>{{ cooker.name }}</h2>
	<p>{{ cooker.description  }}</p>
	{{ address.codeAptNumber }},{{ address.streetNumber }},{{ address.streetName }},{{ address.postCode }}
{% endblock %}
