{% extends 'IhkBaseBundle::layout.html.twig' %}

{% block title %}
	{#{{ entity.company }} is looking for a {{ entity.position }}#}home page - IHomeKitchen
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{#<link rel="stylesheet" href="{{ asset('bundles/ibwjobeet/css/job.css') }}" type="text/css" media="all" />#}
{% endblock %}

{% block leftarea %}

	<div id="menu">
		categories:
		{% for category in categories %}
		<ul>
			<li>
				<a class="" href="">
					<span class="">{{ category.name }}</span>
				</a>
			</li>
		</ul>
		{% endfor %}
	</div>

	<div id="center">
		{#<div class="kitchen-new">#}
			{#<table class="kitchens">#}
				{#{% for entity in entities %}#}
					{#<tr class="{{ cycle(['even', 'odd'], loop.index) }}">#}
						{#<td>{{ entity.name }}</td>#}
						{#<td>#}
							{#<a href="{{ path('ihk_base_kitchen.get', { 'id': entity.id }) }}">#}
								{#{{ entity.description }}#}
							{#</a>#}
						{#</td>#}
						{#<td>{{ entity.score }}</td>#}

					{#</tr>#}
				{#{% endfor %}#}
			{#</table>#}

		<div class="kitchen-hot">
			{# total items count #}
			<div class="count">
				{{ hotKitchens.getTotalItemCount }}
			</div>
			<table>
				{#<tr>#}
					{#&#123;&#35; sorting of properties based on query components &#35;&#125;#}
					{#<th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>#}
					{#<th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}</th>#}
				{#</tr>#}

				{# table body #}
				{% for hotKitchen in hotKitchens %}
					<tr {% if loop.index is odd %}class="color"{% endif %}>
						<td>{{ hotKitchen.id }}</td>
						<td>{{ hotKitchen.name }}</td>
						<td>
							<a href="{{ path('ihk_base_kitchen.get', { 'id': hotKitchen.id }) }}">
								{{ hotKitchen.description }}
							</a>
						</td>
					</tr>
					{#<tr class="{{ cycle(['even', 'odd'], loop.index) }}">#}
						{#<td>{{ hotKitchen.name }}</td>#}
						{##}
						{#<td>{{ hotKitchen.score }}</td>#}

					{#</tr>#}
				{% endfor %}
			</table>
			{# display navigation #}
			<div class="navigation">
				{{ knp_pagination_render(hotKitchens) }}
			</div>
		</div>

		<div class="dish-new">
		</div>

		<div class="dish-hot">
		</div>

	</div>
{% endblock %}

{% block rightarea %}
	<p>big wheel</p>
{% endblock %}
